<div class="home-page">
  <div class="slider-image">
    <ul class="menu">
      <li [ngClass]="(activeLink == '/home')?'activeli':''" class="menu-list"><span routerLink="" [ngClass]="(activeLink == '/home')?'active':''" title="Home" (click)="goToPage('/home')">Home</span></li>
      <li [ngClass]="(activeLink == '/about')?'activeli':''" class="menu-list"><span routerLink="/about" [ngClass]="(activeLink  == '/about')?'active':''" title="About Me" (click)="goToPage('/about')">About Me</span></li>
      <li [ngClass]="(activeLink == '/skills')?'activeli':''" class="menu-list"><span routerLink="/skills" [ngClass]="(activeLink  == '/skills') ?'active':''" title="Specialization" (click)="goToPage('/skills')">Specialization</span></li>
      <li [ngClass]="(activeLink == '/services')?'activeli':''" class="menu-list"><span routerLink="/services"  [ngClass]="(activeLink  == '/services')? 'active':''" title="Services" (click)="goToPage('/services')">Experience</span></li>
      <li [ngClass]="(activeLink == '/contact')?'activeli':''" class="menu-list"><span routerLink="/contact"  [ngClass]="(activeLink  == '/contact')?'active':''" title="Contact" (click)="goToPage('/contact')">Contact</span></li>
    </ul>
    
  </div>
</div>